name: Main

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            -   uses: actions/checkout@v4
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: "3.10"
            -   name: Build
                run: |
                  pip install -U "jupyter-book>=0.11.2" sphinxcontrib-apidoc sphinxcontrib-mermaid flatland-rl
                  FLATLAND_MODULE_PATH=$(python -c 'import os; import importlib; print(os.path.dirname(importlib.import_module("flatland").__file__))')
                  FLATLAND_MODULE_VERSION=$(python -c "import flatland; print(flatland.__version__)")
                  sphinx-apidoc --force -a -e -o apidocs ${FLATLAND_MODULE_PATH}  -H "Flatland ${FLATLAND_MODULE_VERSION} API Reference" --tocfile 'index'
                  sed -i 's/```mermaid/```{mermaid}/g' intro.md
                  jupyter-book build .
            # https://github.com/actions/upload-pages-artifact
            - name: Upload GitHub Pages artifact
              uses: actions/upload-pages-artifact@v3.0.1        
              with:
                path: _build/html/
    deploy:
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      runs-on: ubuntu-latest
      needs: build
      steps:
            # https://github.com/actions/deploy-pages
            - name: Deploy GitHub Pages site
              uses: actions/deploy-pages@v4.0.5
